body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    max-width: 1600px;
}
.navbar{
    width: 139px;
    height: 60px;
    margin-top: 16px;
}
.nav-list ul{
    display: flex;
    gap: 32px;
}
.nav-list li{
    list-style: none;
    margin-top:34px ;
}
.nav-btn button{
    width: 164px;
    height: 44px;
    color: white;
    background-color:#469165 ;
    border-radius:4px ;
    border: none;
    margin-top: 24px;
}
