body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    max-width: 1600px;
}
.navbar{
    width: 139px;
    height: 60px;
    margin-top: 16px;
}
.nav-list ul{
    display: flex;
    gap: 32px;
}
.nav-list li{
    list-style: none;
    margin-top:34px ;
}
.nav-btn button{
    width: 164px;
    height: 44px;
    color: white;
    background-color:#469165 ;
    border-radius:4px ;
    border: none;
    margin-top: 24px;
}

#banner{
    background-image: url('assets/hero-bg.png');
    background-size: cover;
    max-width: 1600px;
    height: 674px;
}

.banner-details{
    padding: 115px;
    text-align: center;
}

.banner-details h3{
    display: inline;
    padding: 6px 12px ;
    background-color: white;
    border-radius: 15px;
    color: #30B868;
    font-size: 16px;
}
.banner-details h1{
    margin-top: 16px;
    color: white;
    font-size: 72px;
    margin-bottom: 16px;
}

.banner-details h1 span{
    color: rgba(48, 184, 104, 1);
}

.banner-details p{
    color: white;
    font-size: 18px;
    line-height: 24px;
}
.banner-details .btn1{
    color: white;
    font-size: 16px;
    width: 251px;
    height: 52px;
    background-color: #30B868;
    border-radius: 4px;
}
.banner-details .btn2{
    border: 1px solid white;
    background-color: ;
    font-size: 16px;
    width: 251px;
    height: 52px;
    border-radius: 4px;
    background: transparent;
    color: white;
    margin-left: 16px;
}
#note{
    margin-bottom: 16px ;
}
#note h4{
    font-size: 48px;
    text-align: center;
    margin-bottom: 16px; 
}

#note p {
    font-size: 16px;
    text-align: center;
}

.cards{
    display: flex;
    gap: 24px;
    padding-left:120px ;
    padding-right: 120px;
}

.card {
    padding:24px ;
    background-color: white;
    padding-top:69px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px;
}

.card h4 {
    margin: 5px;
    font-size: 24px;
}
.card p{
    line-height: 20px;
    font-size: 19px;
    text-align: center;
    font-size: 16px;
}

.card img {
    background-color: red;
    border-radius: 50%;
    padding:14px ;
}
